/*======Body=======*/
body{
    margin:0;
    padding:0;
    background:rgba(var(--b3f,250,250,250),1);
}
/*======Navbar=======*/
nav{
    border-bottom: 5px;
    border-color: rgb(32, 32, 32);
    background-color:white;
    padding: 16px;
    position: sticky;
    top: 0;
}

nav .search{
float: left;
margin-left: 40px;
}
nav .icon-kanan{
    margin-right: 25%;
    float: right;
}
nav li{
    display: inline;
    float: left;
    list-style-type: none;
}

nav i{
    width: 20px;
    margin: 8px;
}

nav .logo-ig{
    margin-left: 25%;
 }

 
 
 /*======Sidebar=======*/
aside{
    float: right;
    width: 25%;
    padding: 20px;
    position: sticky;
}

aside button{
    background: none;
    border: none;
    color: blue;
}

.profil img{
    border-radius: 50%;
    width: 20px;
}
aside .profil img{
    border-radius: 50%;
    width: 40px;
}
aside .profil h{
    display: inline;
    float: right;
}
/*======Postingan=======*/

#postingan{
    float: left;
    width: 35%;
}

main li{
    list-style-type: none;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow: auto;
}

main img{
    width: 100%;
    height: auto;
}

#postingan .comment .icon li{
    display: inline;
    float: left;
    list-style-type: none;
}

#postingan .comment .icon li{
    margin: 5px;
}

.card .profil button{
    background: none;
    border: none;
}